<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Globetrotter</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <div class="logo">
        <img src="logo.jpg" alt="Logo">
    </div>
    <nav>
        <ul>
            <li class="link h">
                <a href="index.html">Home</a>
            </li>
            <li class="link abt">
                <a href="about.html">About</a>
            </li>
            <li class="link l">
                <a href="login.html">Login</a>
            </li> 
            <li class="link su">
                <a href="signup.html">Sign Up</a>
            </li> 
        </ul>
    </nav>
    <script src="script.js"></script> 
    <div class="text">
        <p class="heading2">
            Ready for your<br> next adventure ?
        </p> 
       
        <p class="heading">
            Plan Your Trip and travel like a pro
        </p>
    </div>
    <div class="login">
        <form action="#">
            <a href="display_itinerary.html">Start</a>
        </form>
    </div>
</body>
</html>
