<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
    <title>Globetrotter</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div class="container">
        <div class="login-container">
            <h1>Login</h1>
            <form id="loginForm">
                <div class="form-group">
                    <input type="email" id="email" name="email" placeholder="Email" required>
                </div>
                <div class="form-group">
                    <input type="password" id="password" name="password" placeholder="Password" required>
                </div>
                <button type="submit">Login</button>
            </form>
            <div class="forgot-password">
                <a href="#">Forgot Password?</a>
            </div>
            
            <a href="signup.html">Don't have an account? Sign Up</a>
            
            <div class="social-icons">
                <a href="https://mail.google.com/" style="color: black;"><i class="far fa-envelope"></i></a>
                <a href="https://www.apple.com/" style="color: black;"><i class="fab fa-apple"></i></a>
                <a href="https://www.facebook.com/" style="color:#316FF6;"><i class="fab fa-facebook"></i></a>
            </div>
        </div>
    </div>
</body>
</html>
