<!DOCTYPE html>
<html>
<head>
    <title>Travel Itinerary Guru</title>
    <link rel="stylesheet" href="page2.css">
</head>
<body>
    <h1>WELCOME to Travel Itinerary Guru</h1>
    <div class="form-container">
        <form id="itineraryForm">
            <div class="form-group">
                <label for="location">Location:</label>
                <input type="text" id="location" name="location" required>
                <ul id="suggestionList"></ul> <!-- List to display city suggestions -->
            </div>
            <div class="form-group">
                <label for="numberOfDays">Number of Days:</label>
                <input type="number" id="numberOfDays" name="numberOfDays" min="1" required>
            </div>
            <button type="submit">Generate Itinerary</button>
        </form>
    </div>

    <script src="script2.js"></script> 
</body>
</html>
